version: '3'

services:
  main:
    environment:
      - TZ=Asia/Seoul
    image: siyoun/gaeboptoday-server:latest
    command: >
      sh -c "npm prisma:migrate:prod &&
             npx prisma generate &&
             npm start:prod"
    env_file:
      - .env.product
    ports:
      - 3000:3000
    depends_on:
      - database

  database:
    image: postgres:16
    container_name: database
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - TZ=Asia/Seoul
    volumes:
      - db-data:/var/lib/postgresql/data
    restart: always

volumes:
  db-data:
