name: CD Pipeline

on:
  workflow_run:
    workflows: ['Docker Image CI']
    types:
      - completed

jobs:
  build:

    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v3
    - name: Delete Old docker container
      run: docker compose down --rmi all
    - name: Pull Docker image
      run: sudo docker pull siyoun/gaeboptoday-server:latest
    - name: Run Docker Container
      run: docker compose up -d
